<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"  />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" href="assets/css/codemirror.css" >
		<link rel="stylesheet" href="assets/css/ace.min.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="font/css/font-awesome.min.css" />
		<link rel="stylesheet" href="Widget/zTree/css/zTreeStyle/zTreeStyle.css" >
		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/close_alert.js"></script>
		<script type="text/javascript" src="js/lrtk.js" ></script>
		<script type="text/javascript" src="js/custom.js" ></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/typeahead-bs2.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.dataTables.bootstrap.js"></script>
		<script type="text/javascript" src="assets/layer/layer.js"></script>
		<script type="text/javascript" src="assets/laydate/laydate.js"></script>
		<script type="text/javascript" src="assets/js/jquery.easy-pie-chart.min.js"></script>
		<!--表单验证 -->
		<script type="text/javascript" src="Widget/Validform/5.3.2/Validform.min.js"></script>
		<!--动态传值 -->
		<script type="text/javascript" src="js/vue.js"></script>
		<!--图片上传 -->
		<script type="text/javascript" src="scripts/swfobject.js"></script>
		<script type="text/javascript" src="scripts/fullAvatarEditor.js"></script>
		<!--文件树 -->
		<script type="text/javascript" src="Widget/zTree/js/jquery.ztree.all-3.5.min.js"></script>
		<!--富文本 -->
		<script type="text/javascript" charset="utf-8" src="js/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/editor_api.js">
		</script>
		<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
		<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
		<script type="text/javascript" charset="utf-8" src="js/zh-cn.js"></script>
		<title>班级成员</title>
	</head>

	<body>
		<div class="page-content clearfix">
			<div id="Member_Ratings">
				<div class="d_Confirm_Order_style">
					<div class="search_style">
						<div class="title_names">搜索查询</div>
						<ul class="search_content clearfix">
							<li><label class="l_f">姓名：</label><input name="" type="text" class="text_add" /></li>
							<li><label class="l_f">学号：</label><input name="" type="text" class="text_add" /></li>
							<li style="width:90px;"><button type="button" class="btn_search"><i class="icon-search"></i>查询</button></li>
						</ul>
					</div>
					<div class="table_menu_list">
						<table class="table table-striped table-bordered table-hover" id="sample-table">
							<thead>
								<tr>
									<th width="25"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
									<th>学号</th>
									<th width="100">姓名</th>
									<th width="80">性别</th>
									<th width="120">电话</th>
									<th width="150">邮箱</th>
									<th width="150">所属分会</th>
									<th width="">地址</th>
									<th width="180">入学年份</th>
									<th width="70">状态</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
									<td>1406101-18</td>
									<td>张三</td>
									<td>男</td>
									<td>13000000000</td>
									<td>admin@mail.com</td>
									<td>广州分会</td>
									<td class="text-l">北京市 海淀区</td>
									<td>2014-6-11 11:11:42</td>
									<td class="td-status"><span class="label label-success radius">已启用</span></td>
								</tr>
								<tr>
									<td><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
									<td>1406101-18</td>
									<td>张三</td>
									<td>男</td>
									<td>13000000000</td>
									<td>admin@mail.com</td>
									<td>广州分会</td>
									<td class="text-l">北京市 海淀区</td>
									<td>2014-6-11 11:11:42</td>
									<td class="td-status"><span class="label label-success radius">已启用</span></td>
								</tr>
								<tr>
									<td><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
									<td>1406101-18</td>
									<td>张三</td>
									<td>男</td>
									<td>13000000000</td>
									<td>admin@mail.com</td>
									<td>广州分会</td>
									<td class="text-l">北京市 海淀区</td>
									<td>2014-6-11 11:11:42</td>
									<td class="td-status"><span class="label label-success radius">已启用</span></td>
								</tr>
								<tr>
									<td><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
									<td>1406101-18</td>
									<td>张三</td>
									<td>男</td>
									<td>13000000000</td>
									<td>admin@mail.com</td>
									<td>广州分会</td>
									<td class="text-l">北京市 海淀区</td>
									<td>2014-6-11 11:11:42</td>
									<td class="td-status"><span class="label label-success radius">已启用</span></td>
								</tr>
								<tr>
									<td><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
									<td>1406101-18</td>
									<td>张三</td>
									<td>男</td>
									<td>13000000000</td>
									<td>admin@mail.com</td>
									<td>广州分会</td>
									<td class="text-l">北京市 海淀区</td>
									<td>2014-6-11 11:11:42</td>
									<td class="td-status"><span class="label label-success radius">已启用</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--添加用户图层-->
		<div class="add_menber" id="add_menber_style" style="display:none">

			<ul class=" page-content">
				<li><label class="label_name">姓&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;名：</label><span class="add_name"><input value="" name="用户名" type="text"  class="text_add"/></span>
					<div class="prompt r_f"></div>
				</li>
				<li><label class="label_name">入学年份：</label><span class="add_name"><input name="真实姓名" type="text"  class="text_add"/></span>
					<div class="prompt r_f"></div>
				</li>
				<li><label class="label_name">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label><span class="add_name">
     <label><input name="form-field-radio" type="radio" checked="checked" class="ace"><span class="lbl">男</span></label>&nbsp;&nbsp;&nbsp;
					<label><input name="form-field-radio" type="radio" class="ace"><span class="lbl">女</span></label>&nbsp;&nbsp;&nbsp;
					<label><input name="form-field-radio" type="radio" class="ace"><span class="lbl">保密</span></label>
					</span>
					<div class="prompt r_f"></div>
				</li>
				<li><label class="label_name">固定电话：</label><span class="add_name"><input name="固定电话" type="text"  class="text_add"/></span>
					<div class="prompt r_f"></div>
				</li>
				<li><label class="label_name">移动电话：</label><span class="add_name"><input name="移动电话" type="text"  class="text_add"/></span>
					<div class="prompt r_f"></div>
				</li>
				<li><label class="label_name">电子邮箱：</label><span class="add_name"><input name="电子邮箱" type="text"  class="text_add"/></span>
					<div class="prompt r_f"></div>
				</li>
				<li class="adderss"><label class="label_name">家庭住址：</label><span class="add_name"><input name="家庭住址" type="text"  class="text_add" style=" width:350px"/></span>
					<div class="prompt r_f"></div>
				</li>
				<li><label class="label_name">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</label><span class="add_name">
     <label><input name="form-field-radio1" type="radio" checked="checked" class="ace"><span class="lbl">开启</span></label>&nbsp;&nbsp;&nbsp;
					<label><input name="form-field-radio1"type="radio" class="ace"><span class="lbl">关闭</span></label></span>
					<div class="prompt r_f"></div>
				</li>
			</ul>
		</div>
	</body>

</html>
<script>
	jQuery(function($) {
			var oTable1 = $('#sample-table').dataTable({
				"aaSorting": [
					[1, "desc"]
				], //默认第几个排序
				"bStateSave": true, //状态保存
				"aoColumnDefs": [
					//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
					{
						"orderable": false,
						"aTargets": [0,2,3,4,5,6,7, 8, 9,]
					} // 制定列不参与排序
				]
			});

			$('table th input:checkbox').on('click', function() {
				var that = this;
				$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function() {
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});

			});

			$('[data-rel="tooltip"]').tooltip({
				placement: tooltip_placement
			});

			function tooltip_placement(context, source) {
				var $source = $(source);
				var $parent = $source.closest('table')
				var off1 = $parent.offset();
				var w1 = $parent.width();

				var off2 = $source.offset();
				var w2 = $source.width();

				if(parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
				return 'left';
			}
		})
		/*用户-添加*/
	$('#member_add').on('click', function() {
		layer.open({
			type: 1,
			title: '添加用户',
			maxmin: true,
			shadeClose: true, //点击遮罩关闭层
			area: ['800px', ''],
			content: $('#add_menber_style'),
			btn: ['提交', '取消'],
			yes: function(index, layero) {
				var num = 0;
				var str = "";
				$(".add_menber input[type$='text']").each(function(n) {
					if($(this).val() == "") {

						layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
							title: '提示框',
							icon: 0,
						});
						num++;
						return false;
					}
				});
				if(num > 0) {
					return false;
				} else {
					layer.alert('添加成功！', {
						title: '提示框',
						icon: 1,
					});
					layer.close(index);
				}
			}
		});
	});
	/*用户-编辑*/
	function member_edit(id) {
		layer.open({
			type: 1,
			title: '修改用户信息',
			maxmin: true,
			shadeClose: false, //点击遮罩关闭层
			area: ['800px', ''],
			content: $('#add_menber_style'),
			btn: ['提交', '取消'],
			yes: function(index, layero) {
				var num = 0;
				var str = "";
				$(".add_menber input[type$='text']").each(function(n) {
					if($(this).val() == "") {

						layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
							title: '提示框',
							icon: 0,
						});
						num++;
						return false;
					}
				});
				if(num > 0) {
					return false;
				} else {
					layer.alert('添加成功！', {
						title: '提示框',
						icon: 1,
					});
					layer.close(index);
				}
			}
		});
	}
	
</script>