<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"  />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" href="assets/css/codemirror.css" >
		<link rel="stylesheet" href="assets/css/ace.min.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="font/css/font-awesome.min.css" />
		<link rel="stylesheet" href="Widget/zTree/css/zTreeStyle/zTreeStyle.css" >
		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/close_alert.js"></script>
		<script type="text/javascript" src="js/lrtk.js" ></script>
		<script type="text/javascript" src="js/custom.js" ></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/typeahead-bs2.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.dataTables.bootstrap.js"></script>
		<script type="text/javascript" src="assets/layer/layer.js"></script>
		<script type="text/javascript" src="assets/laydate/laydate.js"></script>
		<script type="text/javascript" src="assets/js/jquery.easy-pie-chart.min.js"></script>
		<!--表单验证 -->
		<script type="text/javascript" src="Widget/Validform/5.3.2/Validform.min.js"></script>
		<!--动态传值 -->
		<script type="text/javascript" src="js/vue.js"></script>
		<!--图片上传 -->
		<script type="text/javascript" src="scripts/swfobject.js"></script>
		<script type="text/javascript" src="scripts/fullAvatarEditor.js"></script>
		<!--文件树 -->
		<script type="text/javascript" src="Widget/zTree/js/jquery.ztree.all-3.5.min.js"></script>
		<!--富文本 -->
		<script type="text/javascript" charset="utf-8" src="js/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/editor_api.js">
		</script>
		<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
		<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
		<script type="text/javascript" charset="utf-8" src="js/zh-cn.js"></script>
	</head>
	<style>
		.con_jjhjj {
			width: 96%;
			margin: 10px auto;
			min-width: 850px;
			min-height: 800px;
			border: 1px solid #ccc;
			background: #fff;
			box-shadow: 0px 5px 10px #AFAEAE;
		}
		
		.con_jjhjj .jjhjj_con {
			width: 98%;
			min-height: 770px;
			margin: 1% 1% 1% 1%;
			border: 1px solid #E3E3E3;
			background: #fff;
			padding: 10px 20px;
		}
		
	</style>

	<body>
		<div class="con_jjhjj">
			<div class="clearfix" style="margin: 1% 1%;">
			<span class="l_f">
        <a href="javascript:history.go(-1);" class="btn btn-danger"><i class="fa fa-reply"></i> 返回上一页</a>
            </span>
		</div>
			<div class="jjhjj_con">
				<tbody>
					<tr>
						<td><h1 style="text-align: center;">湖南城市学院教育发展基金会简介</h1></td>
					</tr>
					<tr>
						<td class="contentstyle128747">
							<div>
								<div>
									<link rel="stylesheet" content-type="text/css" href="/system/resource/style/component/news/content/format2.css">
									<p align="center"><strong><font style="font-size: 14pt">简 介</font></strong></p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">湖南城市学院教育发展基金会于2007年5月成立。原始基金数额为人民币200万元，来源于湖南城市学院已接受的社会捐赠。本会的宗旨：在国家法律法规和政策范围内，广泛利用各种渠道吸纳筹措资金，全面支持和推动湖南城市学院的建设和发展。本会的登记管理机关为湖南省民政厅，业务主管单位为湖南省教育厅。</font>
									</p>
									<p align="center"><strong><font style="font-size: 14pt">业务范围</font></strong></p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">（一）筹集基金：接受社会各界，包括机关、团体、企事业单位和个人的捐赠（含现钞和物资等）。</font>
									</p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">（二）管理基金：通过银行存款、购买并持有债券、拍卖物资等方式，科学、规范地运作基金，使基金实现保值增值和连续积累，滚动发展。</font>
									</p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">（三）使用基金：支持湖南城市学院的建设和发展项目；奖励为湖南城市学院建设与发展做出突出贡献的单位和个人；资助在校贫困学生。</font>
									</p>
									<p align="center"><strong><font style="font-size: 14pt">组织机构及联系方式</font></strong> </p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">理事长： 李建华</font>
									</p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">理 事： 李建华 汪佑民 宋迎清 文瑞明 郭白泉 项龙武 雷存喜吕文明 陈伯望 郭建国 薛 姝 汤腊梅 吴宏斌 夏方礼 刘中顼 徐畅贤 邓曙光 龙立平 唐吉平 陈伟平 李黎武 肖爱民 刘文卫 刘贵方</font>
									</p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">秘书长：汪佑民（兼） 副秘书长：龚彬（兼）</font>
									</p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">监 事：张觉礼</font>
									</p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">办公地点：校本部办公楼三楼323室</font>
									</p>
									<p style="line-height: 2; text-indent: 50PX;">
										<font style="font-size: 12pt">办公电话：0737-6111036</font>
									</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>

			</div>
		</div>
		<div class="clear"></div>

	</body>

</html>